@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Send+Flowers&family=Tangerine:wght@400;700&display=swap" rel="stylesheet');



:root{
  --letraDeMao: "Birthstone", mao;
  --letraDeForma: "Quicksand", forma;
  --verdeEscuro: #32033e;
  --verdeClaro: #B39DDB;
  --dourado: #9d7d3a;
}
  
*{
    font-family: var(--letraDeForma);
    font-size: auto;
    box-sizing: border-box;
 }

img{
    width: 100%;
}

body{
    background-color:white;
    font-family: var(--letraDeMao);
}

main{
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    display:block;
}

h1{
    font-size: 70px;
    font-family: "Tangerine", cursive;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: var(--dourado);
}

#e{
    font-size: 30px;
    font-family: "Tangerine", cursive;
    margin: 5px;
    text-align: center;
    color: var(--dourado);
}

p{
    font-size: 100%;
    color: #9C7EC7; 
    text-align: center;
}

div{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* p#month{
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

p#dweeek{
    margin: 5px;
    text-decoration-line: overline underline;
    word-spacing: 5px;
}

p#day{
    font-size: 250%;
    color: hsl(85, 136, 109);
    margin: 5px;
}

p#time{
    margin: 10px;
    text-decoration-line: overline underline;
}

p#year{
    margin: 0px;
    padding: 0px;
    text-align: center;
} */

p#date{
    text-align: center;
    font-weight: bold;
}
 
i {
    color: white;
    vertical-align: middle;
    background-color: #9C7EC7;
    border-radius: 100px;
    margin: 15px;
    flex-direction: column;
    align-items: center; 
  }

.material-symbols-outlined{
    font-size: 25px;
    padding: 10px;
}  

a { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: #9772dc;
    text-align: center;
    text-decoration: none;
    font-size: 90%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

h1#darPresente{
    font-family: var(--letraDeForma);
    font-size: 130%;
    text-align: center;
    color: #bb74c7
}

h2#darPresente2{
    font-family: var(--letraDeForma);
    font-size: 100%;
    text-align: center;
    color: #9C7EC7;
}

div.gallery {
    border: 1px solid #e2f1e6;
    background-color: #e2f1e6;
    display: block;
    margin-top: 5px;
    padding:0%;
    margin: 6px 0;
  }
  
div.gallery img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
div.gallery img.gift {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
  }
  
div.desc {
    display: block;
    text-align: center;
    font-size: 80%;
    color: #9C7EC7;
  }

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
} 

i#inicio{
    margin-bottom: 0;
}

button{
    background-color: #954ea2;
    border: #954ea2;
    color: white; 
    width: 140px;
    border-radius: 5px;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    font-size: 120%;
  }
  
  button:hover {
    background-color: #debaed;
  }

  ul{
    color: #9C7EC7;
    text-align: justify;
  }

  p#endereço{
    text-align: center;
    font-size: 100%;
    margin: 0%;
    margin-top: 15px;
  }

  a#mapa{
    text-decoration:underline;
    margin: 0px;
    font-weight: bold;
    inline-size:auto
  }

  p#titulo{
    text-align: center;
    font-size: 100%;
  }

  footer{
    display: block;
    position: relative;
    width: 100%;
    clear: both;
  }


  section {
    font-size: 90%;
    text-align: center;
    color:#B39DDB;
  }

  section>p {
    font-size: 100%;
    font-weight: bold;
  }

  section>h2{
    font-size: 100%;
    color: #9C7EC7;
    font-weight: normal;
    
  }

  /* Responsividade para tablets */
  @media only screen and (max-width: 768px) {
    .responsive {
      width: 50%;
    }

    h1 {
      font-size: 55px;
    }

    #e {
      font-size: 25px;
    }

    a {
      width: 250px;
      font-size: 85%;
    }

    .material-symbols-outlined {
      font-size: 22px;
      padding: 8px;
    }

    i {
      margin: 12px;
    }

    section > h2 {
      font-size: 95%;
      padding: 0 15px;
    }

    #chavePix {
      max-width: 90%;
      padding: 15px;
    }

    #voltar {
      margin: 10px 15px 0 auto;
    }
  }

  /* Responsividade para dispositivos móveis */
  @media only screen and (max-width: 480px) {
    .responsive {
      width: 100%;
      padding: 0 10px;
    }

    h1 {
      font-size: 45px;
      padding: 10px;
    }

    #e {
      font-size: 20px;
    }

    h1#darPresente {
      font-size: 110%;
      padding: 0 15px;
    }

    p {
      font-size: 95%;
      padding: 0 10px;
    }

    p#date {
      font-size: 100%;
      padding: 10px;
    }

    p#titulo {
      font-size: 90%;
      padding: 0 15px;
    }

    p#endereço {
      font-size: 95%;
      padding: 0 10px;
    }

    section {
      padding: 0 10px;
    }

    section > h2 {
      font-size: 85%;
      padding: 0 10px;
      line-height: 1.4;
    }

    section > p {
      font-size: 95%;
    }

    .links {
      flex-direction: column;
    }

    a {
      width: 100%;
      max-width: 280px;
      font-size: 90%;
      margin: 5px 0;
    }

    .material-symbols-outlined {
      font-size: 20px;
      padding: 8px;
    }

    i {
      margin: 10px;
    }

    main {
      padding: 0 10px;
    }

    ul {
      padding-left: 25px;
      font-size: 95%;
    }

    a#mapa {
      font-size: 95%;
      padding: 5px;
    }

    button {
      width: 120px;
      font-size: 100%;
      height: 35px;
    }

    div.gallery img {
      height: 250px;
    }

    div.gallery img.gift {
      height: 200px;
    }

    div.desc {
      font-size: 90%;
      padding: 5px;
    }

    div.desc h3 {
      font-size: 100%;
      margin: 5px 0;
    }

    div.desc p {
      font-size: 95%;
      margin: 5px 0;
    }

    #chavePix {
      max-width: 95%;
      padding: 15px 10px;
      margin: 20px auto;
    }

    #chavePix p {
      font-size: 85%;
      line-height: 1.5;
      word-break: break-word;
    }

    #voltar {
      margin: 8px 10px 0 auto;
      font-size: 85%;
    }

    #voltar i#inicio {
      font-size: 18px;
      padding: 6px;
    }
  }

.gift {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.gallery {
    width: 100%;
    overflow: hidden;
}

header {
  position: relative;
  display: block;
}

#voltar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 20px 0 auto;
  width: fit-content;
}

#voltar i#inicio {
    margin: 5px 0 0 0;
}

main H1 {
    display: block;
    margin-left: 0;
}

#imgTopo {
    display: block;
    width: 100%;
}

#chavePix {
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    max-width: 400px;
}

#chavePix p {
    font-size: 100%;
    margin-bottom: 15px;
}

#emailPix {
    font-weight: bold;
    color: #954ea2;
    text-decoration: underline;
    cursor: pointer;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
}

#emailPix:hover {
    color: #bb74c7;
}


